<!--For the row of the main table that appears on the treatment data page-->
<tr>
    <td>{{date}}</td>
    <td>{{time}}</td>
    <td>{{severity}}</td>
    <td>{{num_reports}}</td>
    <td>{{longitude}}</td>
    <td>{{latitude}}</td>
    <td>{{highway}}</td>
    <td>{{treated}}</td> 
    <td style="display: none;">{{pothole_id}}</td> 
</tr>
