<tr>
    <td>{{getDate Timestamp}}</td>
    <td>{{getTime Timestamp}}</td>
    <td>{{severity}}</td>
    <td>{{num_reports}}</td>
    <td>{{longitude}}</td>
    <td>{{latitude}}</td>
    <td>{{highway}}</td>
    <td>{{treated}} 
        <i id="view_treatment_details" class="material-icons" onClick="window.location='/treatment_data?id={{pothole_id}}';">double_arrow</i>

    </td> 
    <td style="display: none;">{{pothole_id}}</td> 
</tr>